<a href="https://colab.research.google.com/github/2303A52117/23CSBTB39-40/blob/main/A1(Q1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Part1:Implement basic data structures using numpy,pandas
import numpy as np
#Lists
#Arrays
#Type
list1=[1,2,3,4,5]
print(list1)
print(type(list1))
list2=[6,7,8,9,10]
print(list2)
print(type(list2))
arr1=np.array(list1)
print(arr1)
print(type(arr1))
arr2=np.array(list2)
print(arr2)
print(type(arr2))
#Mathematical operations
Add=list1+list2
print("Addition of two=",Add)
sub=arr1-arr2
print("Subtraction of two=",sub)
mul=arr1*arr2
print("Multiplication of two=",mul)
div=arr1/arr2
print("Division of two=",div)
power_result=arr1**arr2
print("Power Result=",power_result)
#Tuples
tuple1=("madhu","teju","sahasra")
print(tuple1)
tuple2=(19,19,18)
print(tuple2)
add=tuple1+tuple2
print(add)
print(type(add))
#sin
sin_result=np.sin(arr1)
print("sin_result=",sin_result)
#log
log_result=np.log(arr1)
print("log_result=",log_result)
#log2
log2_result=np.log2(arr1)
print("log2_result=",log2_result)
#exp
exp_result=np.exp(arr1)
print("exp_result=",exp_result)

[1, 2, 3, 4, 5]
<class 'list'>
[6, 7, 8, 9, 10]
<class 'list'>
[1 2 3 4 5]
<class 'numpy.ndarray'>
[ 6  7  8  9 10]
<class 'numpy.ndarray'>
Addition of two= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Subtraction of two= [-5 -5 -5 -5 -5]
Multiplication of two= [ 6 14 24 36 50]
Division of two= [0.16666667 0.28571429 0.375      0.44444444 0.5       ]
Power Result= [      1     128    6561  262144 9765625]
('madhu', 'teju', 'sahasra')
(19, 19, 18)
('madhu', 'teju', 'sahasra', 19, 19, 18)
<class 'tuple'>
sin_result= [ 0.84147098  0.90929743  0.14112001 -0.7568025  -0.95892427]
log_result= [0.         0.69314718 1.09861229 1.38629436 1.60943791]
log2_result= [0.         1.         1.5849625  2.         2.32192809]
exp_result= [  2.71828183   7.3890561   20.08553692  54.59815003 148.4131591 ]